<mat-dialog-content>
    <form>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Nombre</mat-label>
                <input matInput placeholder="Nombre" name="nombre" [(ngModel)]="nombre">
                <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                <mat-hint>Ingrese el nombre del producto</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy" floatLabel="always">
                <mat-label>Precio</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" name="precio"
                    [(ngModel)]="precio">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy" floatLabel="always">
                <mat-label>Precio Unitario</mat-label>
                <input matInput type="number" class="example-right-align" placeholder="0" name="precio_unitario"
                    [(ngModel)]="precio_unitario">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button id="submit" mat-button>Aceptar</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>