<mat-stepper class="mat-elevation-z8 addform">
    <mat-step label="Factura" state="note">
        <app-factura [data]="data"></app-factura>
        <div>
            <button mat-button matStepperNext class="text-white" (click)="addFactura()"
                [disabled]="data.empresa.length==0 || data.codigo.length==0">Siguiente</button>
        </div>
    </mat-step>
    <mat-step label="Informe de recepcion" state="chat">
       <app-informe [data]="data"></app-informe>
        <div class="text-white">
            <button mat-button matStepperPrevious>Atras</button>
            <button mat-button matStepperNext>Siguiente</button>
        </div>
    </mat-step>
    <mat-step label="Tarjeta estiba" class="text-white">
        <p>You're welcome.</p>
    </mat-step>

    <!-- Icon overrides. -->
    <ng-template matStepperIcon="note">
        <mat-icon>notes</mat-icon>
    </ng-template>
    <ng-template matStepperIcon="chat">
        <mat-icon>forum</mat-icon>
    </ng-template>
</mat-stepper>