<table class="table table-bordered">
    <tr>
        <th colspan="15">ORGANISMO: </th>
        <th colspan="12" rowspan="3">SOLICITUD DE MATERIALES</th>
    </tr>
    <tr>
        <th colspan="15">EMPRESA: </th>
    </tr>
    <tr>
        <th colspan="12">EMPRESA: </th>
        <th colspan="3">CODIGO: </th>
    </tr>
    <tr>
        <th colspan="27">ALMACEN AL QUE SE SOLICITAN: </th>
    </tr>
    <tr>
        <th colspan="1" rowspan="2">DESTINO</th>
        <th colspan="6">ORDEN No.</th>
        <th colspan="17">CENTRO DE COSTO:</th>
        <th colspan="3">CODIGO</th>
    </tr>
    <tr>
        <th colspan="6">LOTE No.</th>
        <th colspan="13">PRODUCTO:</th>
        <th colspan="7">OTROS:</th>
    </tr>
    <tr>
        <th colspan="5"></th>
    </tr>
</table>
