.mat-form-field {
    margin: 5px;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .mat-card{
    max-width: 98%;
    transition: all .3s;
  }