<div class="example-sidenav-content">
    <form class="text-white centrado-vertical">
        <p>
            <mat-icon>document_scanner</mat-icon>
        </p>

        <button type="button" mat-button (click)="previsualizar = !previsualizar">
            {{previsualizar ? 'Esconder' : 'Previsualizar'}}
        </button>
        <p class="centrado-horizontal flex-wrap m-2" *ngIf="previsualizar">
            <mat-card *ngFor="let item of productos">
                <mat-card-content>
                    <div class="centrado-horizontal" >
                        <app-ficha-tarjeta-estiba [data]="data" [producto]="item"></app-ficha-tarjeta-estiba>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>print</mat-icon> IMPRIMIR
                    </button>
                </mat-card-actions>
            </mat-card>
        </p>
    </form>
</div>