<section class="w-100 bg-firstcolor shadow-lg position-relative">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 d-flex justify-content-start align-item-center">
                <button mat-button [matMenuTriggerFor]="actions" class="menu-item" matTooltip="Menu con todas las acciones  " ><mat-icon>menu</mat-icon></button>
                <h1 class="display-4 text-white mt-4">INFO <span class="box">WAREHOUSE</span></h1>
                <mat-menu #actions="matMenu">
                    <button mat-menu-item [matMenuTriggerFor]="listar">Listados</button>
                    <button mat-menu-item [matMenuTriggerFor]="agregar">Agregar</button>
                </mat-menu>
                <mat-menu #listar="matMenu">
                    <button mat-menu-item [routerLink]="['/facturas']">Facturas</button>
                    <button mat-menu-item [routerLink]="['/informes']">Informes de Recepción</button>
                    <button mat-menu-item [routerLink]="['/tarjetas']">Tarjetas Estibas</button>
                    <button mat-menu-item>Solicitud Materiales</button>
                    <button mat-menu-item>Vales de entrega</button>
                    <button mat-menu-item>Vales de salida</button>
                  </mat-menu>
                  
                  <mat-menu #agregar="matMenu">
                    <button mat-menu-item>Factura, Informes de Recepción, Tarjeta Estiba</button>
                    <button mat-menu-item>Vale de Entrega</button>
                    <button mat-menu-item>Solicitud Material</button>
                    <button mat-menu-item>Vale de salida</button>
                  </mat-menu>
            </div>
            <div class="col-sm-2">
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-1 d-none d-lg-flex align-item-center">
             <button mat-button matTooltip="Buscar en toda la pagina " class="text-white"><mat-icon matRipple>search</mat-icon></button>
            </div>
        </div>
    </div>
</section>