<div class="navbar-mine centrado-horizontal navbar-svg-shadow">
    <div id="factura" matRipple class="menu-item" matTooltip="Info acerca de las facturas" (click)="menuItem($event)">Facturas</div>
    <div id="informe" matRipple class="menu-item" matTooltip="Info acerca de las informe de recepcion" (click)="menuItem($event)">Informes de Recepcion</div>
    <div id="tarjeta" matRipple class="menu-item" matTooltip="Info acerca de las tarjetas estibas" (click)="menuItem($event)">Tarjetas Estibas</div>
    <div id="inicio" matRipple class="container-image centrado-vertical navbar-svg-shadow" matTooltip="Almacen de la CTC pagina de inicio"  (click)="menuItem($event)">
        <img class="svg-shadow img-icon" src="assets/ctc.png">
    </div>
    <div id="solicitud" matRipple class="menu-item" matTooltip="Info acerca de las solicitudes de material" (click)="menuItem($event)">Solicitud Material</div>
    <div id="entrega" matRipple class="menu-item" matTooltip="Info acerca de los vales de entrega" (click)="menuItem($event)">Vale de entrega</div>
    <div id="salida" matRipple class="menu-item" matTooltip="Info acerca de los vales de salida" (click)="menuItem($event)">Vale de salida</div>
</div>