<form class="text-white centrado-vertical">
    <p>
        <mat-icon>document_scanner</mat-icon>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Empresa</mat-label>
            <input matInput placeholder="empresa" name="empresa" [(ngModel)]="empresa">
            <mat-icon matSuffix>factory</mat-icon>
            <mat-hint>Ingrese su empresa</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Almacen</mat-label>
            <input matInput placeholder="Almacen" name="almacen">
            <mat-icon matSuffix>warehouse</mat-icon>
            <mat-hint>Ingrese el almacen</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Codigo</mat-label>
            <input matInput placeholder="Codigo" name="codigo" [(ngModel)]="codigo">
            <mat-icon matSuffix>code</mat-icon>
            <mat-hint>Ingrese su codigo</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Recepcionado por</mat-label>
            <input matInput placeholder="recepcionado por" name="recepcionado">
            <mat-icon matSuffix>call_received</mat-icon>
            <mat-hint>Ingrese el nombre de la persona que lo recepciono</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>No.</mat-label>
            <input matInput placeholder="no" name="no">
            <mat-icon matSuffix>tag</mat-icon>
            <mat-hint>Ingrese el numero</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Entidad suministradora</mat-label>
            <input matInput placeholder="Entidad suministradora" name="entidad">
            <mat-icon matSuffix>source</mat-icon>
            <mat-hint>Ingrese la entidad suministradora</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Factura</mat-label>
            <input matInput placeholder="Factura" name="factura">
            <mat-icon matSuffix>assignment</mat-icon>
            <mat-hint>Ingrese la factura</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Codigo del producto</mat-label>
            <input matInput placeholder="Codigo del producto" name="codigo_producto">
            <mat-icon matSuffix>shopping_cart</mat-icon>
            <mat-hint>Ingrese el codigo del producto</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Descripcion</mat-label>
            <input matInput placeholder="Descripcion" name="descripcion">
            <mat-icon matSuffix>description</mat-icon>
            <mat-hint>Ingrese la descripcion</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Precio</mat-label>
            <input matInput placeholder="Precio" name="precio">
            <mat-icon matSuffix>price_change</mat-icon>
            <mat-hint>Ingrese el precio</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Importe</mat-label>
            <input matInput placeholder="Importe" name="importe">
            <mat-icon matSuffix>payments</mat-icon>
            <mat-hint>Ingrese el importe</mat-hint>
        </mat-form-field>
        <!-- </p>
    <p> -->
        <mat-form-field appearance="legacy">
            <mat-label>Saldo en existencia</mat-label>
            <input matInput placeholder="Saldo en existencia" name="saldo">
            <mat-icon matSuffix>account_balance</mat-icon>
            <mat-hint>Ingrese el saldo actual</mat-hint>
        </mat-form-field>
    </p>
    <p>
        <mat-form-field appearance="legacy">
            <mat-label>Manual</mat-label>
            <input matInput placeholder="Manual" name="manual">
            <mat-icon matSuffix>fiber_manual_record</mat-icon>
            <mat-hint>Ingrese el manual</mat-hint>
        </mat-form-field>
    </p>
</form>
