<div class="example-sidenav-content">
    <form class="text-white centrado-vertical">
        <p>
            <mat-icon>document_scanner</mat-icon>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Empresa</mat-label>
                <input matInput placeholder="empresa" name="empresa" [(ngModel)]="data.empresa">
                <mat-icon matSuffix>factory</mat-icon>
                <mat-hint>Ingrese su empresa</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Almacen</mat-label>
                <input matInput placeholder="Almacen" name="almacen" [(ngModel)]="data.almacen">
                <mat-icon matSuffix>warehouse</mat-icon>
                <mat-hint>Ingrese el almacen</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Codigo</mat-label>
                <input matInput placeholder="Codigo" name="codigo" [(ngModel)]="data.codigo">
                <mat-icon matSuffix>code</mat-icon>
                <mat-hint>Ingrese su codigo</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Recepcionado por</mat-label>
                <input matInput placeholder="recepcionado por" name="recepcionado" [(ngModel)]="data.facturado">
                <mat-icon matSuffix>call_received</mat-icon>
                <mat-hint>Ingrese el nombre de la persona que lo recepciono</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>No.</mat-label>
                <input matInput placeholder="no" name="no" [(ngModel)]="data.no_anno" disabled>
                <mat-icon matSuffix>tag</mat-icon>
                <mat-hint>Ingrese el numero</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Entidad suministradora</mat-label>
                <input matInput placeholder="Entidad suministradora" name="entidad" [(ngModel)]="data.entidad">
                <mat-icon matSuffix>source</mat-icon>
                <mat-hint>Ingrese la entidad suministradora</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Factura</mat-label>
                <input matInput placeholder="Factura" name="factura" [(ngModel)]="data.factura">
                <mat-icon matSuffix>assignment</mat-icon>
                <mat-hint>Ingrese el numero de la factura</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="legacy">
                <mat-label>Importe total</mat-label>
                <input matInput disabled placeholder="Importe total" name="importe" [(ngModel)]="data.importe">
                <span matPrefix>$&nbsp;</span>
            </mat-form-field>
        </p>
        <button type="button" mat-button (click)="previsualizar = !previsualizar">
            {{previsualizar ? 'Esconder' : 'Previsualizar'}}
        </button>
        <p class="centrado-horizontal" *ngIf="previsualizar">
            <mat-card>
                <mat-card-content>
                  <app-ficha-informe [data]="data" [productos]="productos"></app-ficha-informe>  
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>
                        <mat-icon>print</mat-icon> IMPRIMIR
                    </button>
                </mat-card-actions>
            </mat-card>
        </p>
    </form>
</div>