.table{
    width: 100%;
  }

  .table-item{
    width: 50%;
    text-align: start;
  }

  .table-header{
    margin-block: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
  }

  .table-footer{
    margin-block: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
  }