<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>
            <mat-label>Productos de la factura</mat-label>
            <button style="position: absolute;right: 0;top: 0;" mat-button
                (click)="drawer.toggle()"><mat-icon>close</mat-icon></button>
            <mat-list role="list">
                <mat-list-item *ngFor="let item of productos; let i = index" [attr.data-index]="i" role="listitem">
                    <div class="container-fluid">
                        <div class="row flex-nowrap d-flex align-item-center justify-content-center" style="font-size: 12px;">
                            <div class="col-sm-1">{{i + 1}}.</div>
                            <div class="col-sm-5">
                                <p class="text-truncate" [matTooltip]="item.producto_especifico">{{item.producto_especifico}}</p>
                            </div>
                            <div class="col-sm-1">{{item.cantidad}}</div>
                            <div class="col-sm-2">${{item.precio}}</div>
                            <div class="col-sm-3">
                                <button mat-button style="margin-top: -20px;" (click)="deleteProducto(item)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </mat-list-item>
            </mat-list>
        </p>
        <p>
            <button mat-button (click)="addProducto()">
                <mat-icon>playlist_add</mat-icon> Agregar producto
            </button>
        </p>
        <p>La factura debe tener al menos un producto asignado para ser valida.</p>
    </mat-drawer>

    <div class="example-sidenav-content">
        <form class="text-white centrado-vertical">
            <p>
                <mat-form-field appearance="legacy">
                    <mat-label>Empresa</mat-label>
                    <input matInput placeholder="empresa" name="empresa" [(ngModel)]="data.empresa">
                    <mat-icon matSuffix>factory</mat-icon>
                    <mat-hint>Ingrese su empresa</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Codigo</mat-label>
                    <input matInput placeholder="Codigo" name="codigo" [(ngModel)]="data.codigo">
                    <mat-icon matSuffix>code</mat-icon>
                    <mat-hint>Ingrese su codigo</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>No. de factura</mat-label>
                    <input matInput placeholder="factura" name="factura" [(ngModel)]="data.factura">
                    <mat-icon matSuffix>assignment</mat-icon>
                    <mat-hint>Ingrese el numero de la factura</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Entregado por:</mat-label>
                    <input matInput placeholder="Entregado por..." name="entregado" [(ngModel)]="data.entregado">
                    <mat-icon matSuffix>delivery_dining</mat-icon>
                    <mat-hint>Ingrese el nombre de la persona que lo entrego</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Facturado por:</mat-label>
                    <input matInput placeholder="Facturado por..." name="facturado" [(ngModel)]="data.facturado">
                    <mat-icon matSuffix>receipt</mat-icon>
                    <mat-hint>Ingrese el nombre de la persona que lo facturo</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Entidad suministradora</mat-label>
                    <input matInput placeholder="Entidad suministradora" name="entidad" [(ngModel)]="data.entidad">
                    <mat-icon matSuffix>source</mat-icon>
                    <mat-hint>Ingrese la entidad suministradora</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Almacen</mat-label>
                    <input matInput placeholder="Almacen" name="almacen" [(ngModel)]="data.almacen">
                    <mat-icon matSuffix>warehouse</mat-icon>
                    <mat-hint>Ingrese el almacen</mat-hint>
                </mat-form-field>

                <mat-form-field appearance="legacy">
                    <mat-label>Importe total</mat-label>
                    <input matInput disabled placeholder="Importe total" name="importe" [(ngModel)]="data.importe">
                    <span matPrefix>$&nbsp;</span>
                </mat-form-field>
            </p>
            <div class="centrado-horizontal">
                <button type="button" mat-button (click)="drawer.toggle()">
                    Productos ({{productos.length}})
                </button>
                <button type="button" mat-button (click)="previsualizar = !previsualizar">
                    {{previsualizar ? 'Esconder' : 'Previsualizar'}}
                </button>
            </div>
            <p class="centrado-horizontal" [@scaleAnimation]="'enter'" *ngIf="previsualizar">
                <mat-card>
                    <app-ficha-factura [data]="data" [productos]="productos"></app-ficha-factura>
                    <mat-card-actions>
                        <button mat-button>
                            <mat-icon>print</mat-icon> IMPRIMIR
                        </button>
                    </mat-card-actions>
                </mat-card>
            </p>
        </form>
    </div>

</mat-drawer-container>