<mat-dialog-content>
    <form>
        <p>
            <mat-form-field class="example-full-width" appearance="legacy">
                <mat-label>Codigo</mat-label>
                <input type="text"
                       placeholder="Elija uno o agreguelo nuevo"
                       aria-label="Codigo"
                       matInput
                       name="codigo"
                        [(ngModel)]="codigo"
                        (ngModelChange)="filtrar()"
                       [matAutocomplete]="auto"
                       >
                       <mat-icon matSuffix>code</mat-icon>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  <mat-option *ngFor="let option of codigos" [value]="option.codigo">
                    {{option.codigo}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Producto generico</mat-label>
                <input matInput placeholder="Producto generico" name="producto_generico" [(ngModel)]="producto_generico" [disabled]="codigo_encontrado">
                <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                <mat-hint>Ingrese el nombre del producto generico</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Producto especifico</mat-label>
                <input matInput placeholder="producto especifico" name="producto_especifico" [(ngModel)]="producto_especifico" [disabled]="codigo_encontrado">
                <mat-icon matSuffix>drive_file_rename_outline</mat-icon>
                <mat-hint>Ingrese el nombre del producto especifico</mat-hint>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy">
                <mat-label>Descripcion</mat-label>
                <textarea matInput name="descripcion" [(ngModel)]="descripcion" [disabled]="codigo_encontrado"></textarea>
                <mat-icon matSuffix>description</mat-icon>
                <mat-hint>Ingrese una breve descripcion producto</mat-hint>
              </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy" floatLabel="always">
                <mat-label>Precio</mat-label>
                <input matInput type="number" step="0.01" class="example-right-align" placeholder="0" name="precio"
                    [(ngModel)]="precio" [disabled]="codigo_encontrado">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy" floatLabel="always">
                <mat-label>Precio Unitario</mat-label>
                <input matInput type="number" step="0.01" class="example-right-align" placeholder="0"
                    name="precio_unitario" [(ngModel)]="precio_unitario" [disabled]="codigo_encontrado">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="legacy" floatLabel="always">
                <mat-label>Cantidad</mat-label>
                <input matInput type="number" step="1" class="example-right-align" placeholder="0"
                    name="cantidad" [(ngModel)]="cantidad" >
                    <mat-icon matSuffix>bookmarks</mat-icon>
                    <mat-hint>Ingrese la cantidad de productos</mat-hint>
            </mat-form-field>
        </p>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button id="submit" mat-button (click)="addOrUpdate()">Aceptar</button>
    <button mat-button mat-dialog-close cdkFocusInitial>Cancelar</button>
</mat-dialog-actions>