<div class="container">
    <div class="row">
        <div class="col-sm-6 centrado-vertical"><button class="btn btn-top" [matTooltip]="tooltip_add" *ngIf="tooltip_add_if" (click)="action($event)"><i class="bi bi-cloud-plus"></i>Agregar</button></div>
        <div class="col-sm-6 centrado-vertical"><button class="btn btn-top" [matTooltip]="tooltip_delete" *ngIf="tooltip_delete_if" (click)="action($event)"><i class="bi bi-trash"></i>Eliminar</button></div>
        <div class="col-sm-6 centrado-vertical"><button class="btn btn-top" [matTooltip]="tooltip_search" *ngIf="tooltip_search_if" (click)="action($event)"><i class="bi bi-search"></i>Buscar</button></div>
        <div class="col-sm-6 centrado-vertical"><button class="btn btn-top" [matTooltip]="tooltip_list" *ngIf="tooltip_list_if" (click)="action($event)"><i class="bi bi-list"></i>Listar</button></div>
    </div>
</div>