.btn-top {
    padding: 5px;
    border: 1px solid var(--firstcolor);
    color: var(--firstcolor);
    text-shadow: 2px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.4);
    font-size: small;
    border-radius: 0.3em;
    margin: 2px;
    transition: ease-in-out .3s;
    background-color: var(--theme-color);
}

.btn-top:hover {
    background-color: var(--theme-color-section);
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: ease-in-out .3s;
}

.btn-top:disabled{
    background-color: var(--theme-color-section);
    cursor: not-allowed;
    transition: all .3s ease-in-out;
}

.container {
    padding-block: 20px;
}

.bi {
    margin-right: 10px;
}